/* CSS declarations go here */

#attack-iframe
  width 100%
  height 100%

.full-height
  height 100%

#fps
  padding 40px 0 0 24px
  font-size 24px

.filter
  -webkit-filter: blur(30px)
  -moz-filter: blur(30px);
